html
  head
    title= title.rendered
    meta(property="og:type", content= "article")
    meta(property="og:title", content= title.rendered)
    meta(property="og:image", content= bilde.medium_large)
  body
    div#app