html
  head
    title= "Ludens Reklamebyrå"
    meta(property="og:type", content= "article")
    meta(property="og:title", content= "Ludens Reklamebyrå")
    meta(property="title", content= "Ludens Reklamebyrå")
    meta(property="og:description", content= "Ludens Reklamebyrå")
    meta(property="description", content= "Ludens Reklamebyrå")
  body
    div#app
    script(src="/app.js")