html
  head
    title= "Ludens Reklamebyrå"
    meta(property="og:type", content= "article")
    meta(property="og:title", content= "Ludens Reklamebyrå")
    meta(name="title", content= "Ludens Reklamebyrå")
    meta(property="og:description", content= "Ludens Reklamebyrå")
    meta(name="description", content= "Ludens Reklamebyrå")
    include includes/sharedHead.pug
  include includes/body.pug