html
  head
    title= "Fant ikke siden du lette etter - Ludens Reklamebyrå"
    meta(property="og:type", content= "article")
    meta(property="og:title", content= "Fant ikke siden du lette etter")
    meta(name="title", content= "Fant ikke siden du lette etter")
    meta(property="og:description", content= "Fant ikke siden du lette etter")
    meta(name="description", content= "Fant ikke siden du lette etter")
    include includes/sharedHead.pug
  include includes/body.pug