html
  head
    title= "Pakkeløsninger - Ludens Reklamebyrå"
    meta(property="og:type", content= "article")
    meta(property="og:title", content= "Pakkeløsninger")
    meta(name="title", content= "Pakkeløsninger")
    meta(property="og:description", content= "her kommer det en beskrivelse")
    meta(name="description", content= "her kommer det en beskrivelse")
    include includes/sharedHead.pug
  include includes/body.pug