html
  head
    title= "Pakkeløsninger - Ludens Reklamebyrå"
    meta(property="og:type", content= "article")
    meta(property="og:title", content= "Pakkeløsninger")
    meta(property="title", content= "Pakkeløsninger")
    meta(property="og:description", content= "her kommer det en beskrivelse")
    meta(property="description", content= "her kommer det en beskrivelse")
  body
    div#app
    script(src="/app.js")